{% extends "base/base_template.html" %}

{% block title %}Dashboard{% endblock %}

{% block main_title %}Dashboard{% endblock %}

{% block sub_title %}Área administrativa{% endblock %}

{% block content %}
<!-- Conteúdo específico desta página -->
<div>
    <!-- Conteúdo vai aqui -->
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <a class="card-link" href="ordem_form">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body d-flex align-items-center">
                        <span class="fs-4 flex-grow-1">Nova Ordem de Serviço</span>
                        <i class="fa-solid fa-file-circle-plus fa-3x ms-3"></i>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white" href="ordens">{{ total_ordens }} - ordens criadas</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body d-flex align-items-center"> <!-- Usamos as classes flexíveis para alinhar os itens verticalmente -->
                    <span class="fs-4 flex-grow-1">Concluídas</span> <!-- Aumentamos o tamanho do texto para 4 vezes e fazemos ele ocupar todo o espaço disponível -->
                    <i class="fas fa-thumbs-up fa-3x ms-3"></i> <!-- Aumentamos o tamanho do ícone para 3 vezes e adicionamos uma margem à esquerda -->
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">{{ ordens_concluidas }} - ordens concluídas</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body d-flex align-items-center"> <!-- Usamos as classes flexíveis para alinhar os itens verticalmente -->
                    <span class="fs-4 flex-grow-1">Canceladas</span> <!-- Aumentamos o tamanho do texto para 4 vezes e fazemos ele ocupar todo o espaço disponível -->
                    <i class="fa-solid fa-face-frown-open fa-3x ms-3"></i><!-- Usamos o ícone "fa-times-circle" e aumentamos o tamanho para 3 vezes -->
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">{{ ordens_canceladas }} - ordens canceladas</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body d-flex align-items-center"> <!-- Usamos as classes flexíveis para alinhar os itens verticalmente -->
                    <span class="fs-4 flex-grow-1">Clientes Cadastrados</span> <!-- Aumentamos o tamanho do texto para 4 vezes e fazemos ele ocupar todo o espaço disponível -->
                    <i class="fa-solid fa-building-user fa-3x ms-3"></i> <!-- Usamos o ícone "fa-user-check" e aumentamos o tamanho para 3 vezes -->
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">Falta criar :({{ clientes_cadastrados }}</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    DataTable Example 30 days
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>
                            <!-- Coloque aqui as linhas da sua tabela -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <img src="static/assets/img/dash_robot.png" alt="Descrição da imagem" class="img-fluid" style="max-width: 600px;">
    </div>
</div>

{% endblock %}
