{% extends "base/base_template.html" %}

{% block title %}Editar Cliente{% endblock %}

{% block main_title %}Editar Cliente{% endblock %}

{% block sub_title %}Atualizar informações do cliente{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="camposFaltandoModal" tabindex="-1" aria-labelledby="camposFaltandoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="camposFaltandoModalLabel">Campos Faltando</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <p id="camposFaltandoTexto"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-user me-1"></i>Cadastro de Cliente</div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('dashboard.editar_cliente', cliente_id=cliente.id) }}" id="form-cliente">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nome" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="nome" name="nome" value="{{ cliente.nome }}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ cliente.email }}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="logradouro" class="form-label">Logradouro</label>
                            <input type="text" class="form-control" id="logradouro" name="logradouro" value="{{ cliente.logradouro }}">
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="cep" class="form-label">CEP</label>
                            <input type="text" class="form-control" id="cep" name="cep" value="{{ cliente.cep }}">
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="numero" class="form-label">Número</label>
                            <input type="text" class="form-control" id="numero" name="numero" value="{{ cliente.numero }}">
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="telefone" class="form-label">Telefone</label>
                            <input type="text" class="form-control" id="telefone" name="telefone" value="{{ cliente.telefone }}">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="bairro" class="form-label">Bairro</label>
                            <input type="text" class="form-control" id="bairro" name="bairro" value="{{ cliente.bairro }}">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cpf_cnpj" class="form-label">CPF ou CNPJ</label>
                            <input type="text" class="form-control" id="cpf_cnpj" name="cpf_cnpj" value="{{ cliente.cpf_cnpj }}" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="uf" class="form-label">Estado</label>
                            <select class="form-control form-select" id="ufCliente" name="uf">
                                <option value="" disabled selected hidden>Selecione o Estado...</option>
                                {% for uf, estado in estados.items() %}
                                    <option value="{{ uf }}" {% if cliente.uf == uf %}selected{% endif %}>{{ estado }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-success" onclick="validarFormulario()">Salvar</button>
                        <a href="{{ url_for('dashboard.clientes') }}" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
function validarFormulario() {
    console.log("Validando formulário...");
    var campos = document.querySelectorAll('#form-cliente input[type="text"], #form-cliente input[type="email"], #form-cliente input[type="file"]');
    var camposVazios = [];

    campos.forEach(function(campo) {
        if ((campo.type === 'text' || campo.type === 'email' || campo.type === 'file') && campo.value.trim() === '') {
            campo.classList.add('is-invalid');
            camposVazios.push(campo.getAttribute('id'));
        } else {
            campo.classList.remove('is-invalid'); // Remover a classe is-invalid quando preenchido
        }
    });

    if (camposVazios.length > 0) {
        var camposVaziosNomes = camposVazios.map(function(campoId) {
            return document.querySelector('label[for="' + campoId + '"]').textContent;
        });

        // Exibir o modal com os campos faltando
        var camposFaltandoTexto = 'Por favor, preencha todos os campos obrigatórios: ' + camposVaziosNomes.join(', ');
        document.getElementById('camposFaltandoTexto').textContent = camposFaltandoTexto;
        var camposFaltandoModal = new bootstrap.Modal(document.getElementById('camposFaltandoModal'));
        camposFaltandoModal.show();
    } else {
        console.log("Formulário validado com sucesso. Enviando formulário...");
        document.getElementById('form-cliente').submit();
    }
}
</script>

<style>
    .is-invalid {
        border-color: #dc3545 !important;
    }
</style>
{% endblock %}
